@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Comfortaa", "Poppins", sans-serif;
  background-color: transparent;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.scroll-indicator::-webkit-scrollbar{
  width: 0px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(170, 169, 169);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(58, 55, 32);
  opacity: 0.5;
  cursor: pointer;
}

/* Handle on Hover */
/* ::-webkit-scrollbar-track:hover {
  background: green;
  opacity: 0.5;
  cursor: pointer;
} */

body::-webkit-scrollbar {
  @apply lg:w-[6px] bg-[#1a202c];
}
body::-webkit-scrollbar-thumb {
  @apply bg-[#8892b0] rounded-full;
}

.bg-light-gradient {
  background: linear-gradient(
    144.39deg,
    #1a202c -78.47%,
    #ffffff -278.56%,
    #e5e7eb 91.61%
  );
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(62, 241, 182, 0) 0%, #99e2c0 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fcc4fb 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.storiesbg {
  background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.5)),
    url("../src/assets/test5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-rotate {
  animation: rotate-anim 5s infinite forwards;
}

@keyframes rotate-anim {
  100% {
    transform: rotateZ(360deg);
  }
}
td,th{
  border: 1px solid #dddddd;
  padding: 4px 6px;
  text-align: start;
}

tr:nth-child(even){
  background-color: #dddddd;
}